h1 Beacon
p This service lets you collect in browser events in realtime
ul
    li
        a(href="/tt") Time Trace
    li
        a(href="#boom",class="unimplemented") Boomerang
    li
        a(href="#/cc",class="unimplemented") Call Counts
    li
        a(href="#visits",class="unimplemented") Visits