!!! 5
html
  head
    title Beacon
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js')
    script(src='/faye.js')
    script(src='/javascripts/tt.js')
  body!= body